* {
  margin: 0;
  padding: 0; }

.container {
  width: 1200px;
  margin: 0 auto; }

.top {
  height: 75px;
  background-color: #222222;
  width: 100%; }

.btn-secondary {
  color: #222222;
  background-color: #222222;
  border-color: #222222; }

.dropdown-toggle::after {
  display: none;
  margin-left: none;
  vertical-align: none;
  /* content: ""; */
  border: none; }

.menu-left-content {
  margin-left: 110px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  margin-top: 20px; }

.menu-right-content {
  width: 140px;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  margin-top: 20px; }

.search-button {
  margin-top: 10px; }

.top-pink-background {
  width: 100%;
  background-color: #F1E4E6;
  height: 764px; }

.top-content {
  height: 764px;
  display: flex;
  align-items: center;
  width: 100%; }

.man-top {
  width: 800px;
  height: 764px; }

.item {
  display: block;
  position: relative; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.brand-name {
  width: 50%;
  margin: 290px 331px 381px 63px; }

.logo-highlight {
  color: #F16C7F; }

.pics-row {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 30px; }

.pic {
  transition: 1s; }

.accessories {
  width: 100%; }

.department:hover .pic {
  transform: scale(1.2);
  transition: all 1s; }

.department {
  position: relative; }

.product-card {
  width: 60%; }

.card-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF; }

.plain {
  text-decoration: none; }

.description-highlight {
  font-family: Lato;
  font-weight: normal;
  font-size: 24px;
  color: #F16C7F;
  text-transform: uppercase;
  line-height: 36px; }

.menu-item {
  padding-left: 40px;
  text-transform: capitalize;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E; }

.item-sec {
  display: block; }

.item-sec-heading {
  margin-top: 96px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222; }

.item-sec-txt {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 6px; }

.item-txt-box {
  padding: 15px;
  height: 120px; }

.txt-desc {
  color: #5D5D5D;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px; }

.item {
  height: 582px; }

.item-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between; }

.item-link {
  width: 360px;
  height: 550px;
  display: block;
  text-decoration: none;
  transition: opacity 150ms linear; }

.item-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase; }

.txt-price {
  width: 315px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F; }

.item-pic {
  width: 360px; }

.item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  transition: all 0.5s; }

.item:hover .item-pic {
  filter: brightness(30%);
  transition: all 0.5s;
  transform: rotate(45deg); }

.add-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 8px;
  pointer-events: all; }

.add-txt {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-left: 5px;
  margin-top: 15px;
  color: #FFFFFF; }

.add-box {
  display: none;
  position: absolute;
  top: 30%;
  left: 33%;
  pointer-events: none; }

.item:hover .add-box {
  display: flex;
  transition: all 0,5s; }

.add-link:hover {
  box-shadow: 0 0 10px #fff;
  transition: all 0.5s; }

.pagination {
  width: 283px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 50px;
  border: 1px solid #EBEBEB; }

.page-link {
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
  padding: 0.4rem; }

.catalogue-button {
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47px;
  padding: 14px 38px 14px 38px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 48px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: white; }

.catalogue-button:hover {
  background-color: #F16C7F;
  color: white;
  transition: 1s; }

.onpage {
  color: #EF5B70; }

.page-item:last-child .page-link {
  border-top-right-radius: none;
  border-bottom-right-radius: none; }

.page-item:not(:first-child) .page-link {
  margin-left: 0; }

/*# sourceMappingURL=styles.css.map */
.delivery {
  background-color: #222222;
  height: 350px;
  margin-top: 96px; }

.flex-space-around {
  display: flex;
  justify-content: space-around; }

.delivery-features {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px; }

.icon {
  margin-top: 103px; }

.icon-title {
  margin-top: 25px; }

.delivery-desc {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  margin-top: 16px;
  color: #FBFBFB; }

.icon-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  /* identical to box height */
  color: #FBFBFB; }

.subscribe {
  background-image: url("catalogue-pics/photo subscribe.png");
  background-size: 100%;
  height: 448px;
  margin-top: 75px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224; }

.subscribe-description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224; }

.form {
  margin-top: 155px; }

.form-control {
  border-radius: 25rem;
  background-color: #E1E1E1;
  border-color: #E1E1E1; }

.form-group {
  display: flex;
  flex-direction: row;
  height: 50px; }

.btn {
  background-color: #F16C7F;
  border-top-right-radius: 25rem;
  border-bottom-right-radius: 25rem;
  margin-left: -31px;
  border-color: #F16C7F;
  height: 50px;
  border-color: #EF5B70; }

.btn:hover {
  background-color: #222222;
  border: #222222;
  transition: all 1s; }

.social-media {
  height: 80px;
  background-color: #222222; }

.brand-copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB; }

.flex-center {
  display: flex;
  align-items: center; }

.brand-copyright {
  margin-top: 30px; }

.flex-space-between {
  display: flex;
  justify-content: space-between; }

.align-center {
  text-align: center; }

.product-collection {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-align: center; }

.product-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #4D4D4D; }

.product-desc {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  text-align: left; }

.product-pink-rectangle {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 12px; }

.product-price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #EF5B70;
  margin-top: 32px;
  margin-bottom: 130px; }

.choose-properties {
  width: 450px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 130px;
  color: #6F6E6E; }

.product-add-to-cart {
  width: 211px;
  height: 47px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  border: 1px solid #FF6A6A;
  color: #F26376;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 50px;
  margin-bottom: 160px; }

.add-to-cart {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #F26376;
  padding-left: 22px;
  padding-top: 5px; }

.product-add-to-cart:hover .add-to-cart {
  color: white;
  background-color: #EF5B70;
  transition: all 1s; }

.product-add-to-cart:hover {
  color: white;
  background-color: #EF5B70;
  transition: all 1s; }

.shopping-cart-title {
  background-color: #F8F3F4;
  height: 148px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
  padding-top: 57px;
  padding-left: 230px; }

.checkout-product-card {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  width: 55%;
  height: 306px;
  margin-top: 40px; }

.checkout-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  width: 260px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 31px;
  margin-top: 22px; }

.checkout-property {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-left: 31px;
  margin-top: 6px; }

.checkout-buttons-wrap {
  width: 55%;
  display: flex;
  justify-content: space-between; }

.checkout-button {
  width: 211px;
  height: 50px;
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #A4A4A4;
  background-color: white;
  margin-top: 72px; }

.shipping-form {
  width: 50%; }

/*# sourceMappingURL=styles.css.map */
